@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    var userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserId");
    var username = HttpContextAccessor.HttpContext.Session.GetString("Username");
    var userEmail = HttpContextAccessor.HttpContext.Session.GetString("UserEmail");
    var userFullName = HttpContextAccessor.HttpContext.Session.GetString("UserFullName");
    var userIsActive = HttpContextAccessor.HttpContext.Session.GetString("UserIsActive");
    var userCreatedAt = HttpContextAccessor.HttpContext.Session.GetString("UserCreatedAt");
    var userLastLogin = HttpContextAccessor.HttpContext.Session.GetString("UserLastLogin");
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



    <h2>Prueba TempDATA</h2>
    <p>@userId</p>
    <p>@username</p>
    <p>@userEmail</p>
    <p>@userFullName</p>
    <p>@userIsActive</p>
    <p>@userCreatedAt</p>
    <p>@userLastLogin</p>
        

</div>
